In [43]:
import pandas as pd

In [10]:
basket = [
           ['Biscuit', 'Creme', 'Couches','Pain', 'Confiture'],
           ['Oeufs', 'Salade', 'Pain'],
           ['Pain', 'Biscuit', 'Couches', 'Lait','Camembert','Biere','Poudre de cacao'],
           ['Biere', 'Lait', 'Creme', 'Pain', 'Salade','Couches','Poudre de cacao'],
           ['Camembert', 'Confiture', 'Poudre de cacao', 'Lait'],
           ['Lait','Biere','Perrier','Oeufs','Couches'],
           ['Biscuit', 'Creme', 'Oeufs', 'Pain', 'Couches','Lait','Poudre de cacao', 'Confiture'],
           ['Camembert','Biere','Perrier','Oeufs','Salade','Confiture','Couches'],
           ['Salade','Confiture','Pain','Oeufs','Creme','Perrier','Biscuit']]

In [37]:
df = pd.DataFrame(basket).T

In [38]:
setOfSequence = set([element for event in basket for element in event])

In [49]:
df

,0,1,2,3,4,5,6,7,8
0,Biscuit,Oeufs,Pain,Biere,Camembert,Lait,Biscuit,Camembert,Salade
1,Creme,Salade,Biscuit,Lait,Confiture,Biere,Creme,Biere,Confiture
2,Couches,Pain,Couches,Creme,Poudre de cacao,Perrier,Oeufs,Perrier,Pain
3,Pain,None,Lait,Pain,Lait,Oeufs,Pain,Oeufs,Oeufs
4,Confiture,None,Camembert,Salade,None,Couches,Couches,Salade,Creme
5,None,None,Biere,Couches,None,None,Lait,Confiture,Perrier
6,None,None,Poudre de cacao,Poudre de cacao,None,None,Poudre de cacao,Couches,Biscuit
7,None,None,None,None,None,None,Confiture,None,None

In [40]:
len(df.T)

9

In [41]:
df.columns = setOfSequence

ValueError: Length mismatch: Expected axis has 9 elements, new values have 12 elements

In [47]:
dfset = pd.DataFrame(setOfSequence).T

In [48]:
dfset

,0,1,2,3,4,5,6,7,8,9,10,11
0,Couches,Biscuit,Poudre de cacao,Creme,Oeufs,Confiture,Perrier,Pain,Camembert,Biere,Lait,Salade

In [51]:
df.describe()

              0     1      2      3     4     5          6        7        8
count         5     3      7      7     4     5          8        7        7
unique        5     3      7      7     4     5          8        7        7
top     Biscuit  Pain  Biere  Creme  Lait  Lait  Confiture  Perrier  Perrier
freq          1     1      1      1     1     1          1        1        1